<section class="phx-hero">
  <h1>Search for Github issues</h1>
</section>

<%= form_for @conn, Routes.page_path(@conn, :index), [as: :issues_search], fn f -> %>
	<%= label f, :user %>
	<%= text_input f, :user %>

	<%= label f, :project %>
	<%= text_input f, :project %>
	<%= submit "Search" %>
<% end %>
